<%  include header %>


<h3><p>Contact</h3>
<div class="container">
<form action="">
<label for="fname">First Name</label>
<input type="text" id="fname" name="firstname" placeholder="Your name..">

<label for="lname">Last Name</label>
<input type="text" id="lname" name="lastname" placeholder="Your last name..">

<label for="country">Country</label>
<select id="country" name="country">
  <option value="select country">Select Country</option>
  <option value="australia">Australia</option>
  <option value="canada">Canada</option>
  <option value="usa">USA</option>
  <option value="india">India</option>
</select>

<label for="subject">Subject</label>
<textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

<input type="submit" value="Submit">
</form>
</div><br>
<br>
<br>
<footer>
        <a href="https://www.linkedin.com/in/sai-varun-anugu-55066716b/"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href="https://github.com/anuguvarun"><i class="fab fa-github-square fa-3x"></i></a>
        <a href="https://bitbucket.org/varunanugu/"><i class="fab fa-bitbucket fa-3x"></i></a>
        <a href="https://www.instagram.com/varunanugu/"><i class="fab fa-instagram fa-3x"></i></a>
    </footer>
    <% include footer %>