<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/Contact.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
     integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
     crossorigin="anonymous">
     </head>
     <body>
            <div class="topnav">
                    <a class="active" href="/index"><img src="/images/vs.png"></a>
                <div class="topnav-right">
                    <a href="/tic-tac-toe">Game</a>
                    <a href="/contact">Contact</a>
                </div>
                </div>           
                <div style="padding-left:16px">
                </div>
     
     