<% include header %>

<main>
<div class="col-md-4"></div>
    <img src="/images/varun.JPG" alt="My image" class="img-circle">
<article>
    <h2>Introduction</h2>
<section>
    <h3 class="section-header">Present:</h3>
    <p>I am a student at Northwest Missouri  State University.  Pursuing my masters in applied Computer Science.</p>
</section>

<section id="Past-section">
    <h3>Past:</h3>
    <p>I am from India, I have done my undergraduate in computer science at Nagpur University and later on, I joined Pixelloid studios for VFX professional course for 1 year<br/> 
    where I learned designing the objects in 3D platform using Maya. Later I worked for Pixelloid studios for 1 year. My hobbies are Drawing and photography.</p>
</section>

<section id="Future-section">
    <h3>Career Goals:</h3>
    <p><div id="p1"></div>I am planning to become an IOS developer. My dream is to work for Apple and I am interested in learning web designing to create my own website to showcase<br/>
    my photographs.</p>
</section>
</article>
</main>
</div>

<div class="col-md-12">	
   <iframe width="560" height="315" src="https://www.youtube.com/embed/5v2DP3HPEXQ" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div>


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="M03.js"></script>
    <% include footer %>