<%  include header %>
<link rel="stylesheet" type="text/css" href="/css/game.css">
<header>
<h2>Tic Tac Toe</h1>
</header>
<main>
<section id="upper-left"> </section>
<section id="upper-mid"> </section>
<section id="upper-right"> </section>

<section id="center-left"> </section>
<section id="center-mid"> </section>
<section id="center-right"> </section>

<section id="lower-left"> </section>
<section id="lower-mid"> </section>
<section id="lower-right"> </section>
</main>
<script src="/js/game.js">
</script>

<% include footer %>