body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("night.jpg");
    color: white ;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:black;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }



